
/*Panel de Xfce*/
.xfce4-panel {
	border-radius: 6px;
	color: white;
}
#clock-button {
    color: white;
 }
#pulseaudio-button image{
    color: white;
}
#xfce4-power-manager-plugin image {
    color: white;
    -gtk-icon-theme: 'WhiteSur-pink-dark';
}


.genmon_value { color: white;
 }

#sn-button, #sn-button menu
{
	color:white;
}

#systray-6 menu{
	color:white;
}

.thunar, .thunar .sidebar, .thunar .sidebar .view{ background-color: rgba(36,36,36,0.35); }
.thunar toolbar {
background-color: rgba(36,36,36,0.27);
}

wnck-pager button { color: black; }
wnck-pager:selected { color: black; }
#pager-1 button { background-color: red; }
#pager-1 button:checked { background-color: green; }
#pager-1 button:hover { background-color: yellow; }
